@media screen and (min-width: 1200px) {
    /***** header *****/
    .header {
        background-color: rgb(29, 91, 206);
        display: flex;
        justify-content: center;
    }
    .header__container {
        width: 60%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .header__page-name {
        align-self: center;
    }
    .header__menu {
        align-self: center;
        flex-wrap: wrap;

    }
    .header__menu ul li a:hover {
        color: gold;
    }
    .header__search a #search-icon:hover {
        color: gold;
    }
    .header__menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header__menu ul li a.active {
        color: gold;
    }

    /** news **/
    .news-container {
        width: 60%;
        margin-left: 20% !important;
    }

    
    /** news post **/
    .post__text-box h4 a {
        font-size: 0.5em
    }
    .post__img-box {
        width: 125px;
        height: 125px;
    }

    /***** footer *****/
    .footer__1 {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin-left: 20%;
    } 
    .crevea {
        flex: 1;
        margin-right: 1em;

    }
    .categorys {
        flex: 1;
        margin-right: 1em;
    }
    .language {
        flex: 1;
        margin-right: 1em;
    }
    .get {
        flex: 1;
    }
    
}