* { 
    margin: 0;
    padding: 0;
}

/***** header *****/
.header {
    height: 4em;
}
.header__container {
    height: 4em;
}
.header__menu ul li {
    list-style-type: none;
    margin-left: 1em;
}

.header__menu ul li a {
    color: #fff;
}
.header a {
    text-decoration: none;
}
.icon-bar {
    display: none;
}
.header__search {
    font-size: 1.5em;
    display: none;
}
#search-icon-mobile {
    display: none;
}
.header__search i {
    color: #000;
    font-size: 1.5em;
}
.header__page-name h1 {
    font-size: 2em;
}
.header__page-name h1 a {
    color: #fff;
}
.header__menu #check {
    display: none;
}
.header__image img {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}
#search-icon {
    font-size: 1em;
    color: #fff;
}
.li-icon {
    display: none;
}
#search-icon:hover {
    color: gold;
}

/** new **/

.news-image-box {
    border: 1px solid #666;
    border-bottom: none;
}
.news-text {
    border: 1px solid #666;
    border-top: none;
    margin-bottom: 2em;
    padding: 10px;

}
.news-text h4 a {
    color: #000;
    font-size: 0.75em;
}
.news-image-box img {
    width: 100%;
    height: 100%;
}
/** post news **/ 

.post-item {
    display: flex;
    margin: 1em 0.5em 1em 0.5em;

}
.post-boder {
    width: 100%;
    height: 1.5px;
    background-color: #666;
}
.post-title h2 {
    background-color: rgb(29, 91, 206);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.25em;
    padding-bottom: 5px;
    padding-top: 5px;
}
.post-item h4 a {
    font-size: 1em;
    color: #000;
    
}
.post__text-box {
    flex: 1;
    margin-left: 2em;
    margin-top: -0.5em;
}
.post__img-box {
    width: 250px;
    height: 175px;
}
.post__img-1 {
    background-image: url(https://i.imgur.com/9oymWKS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post__img-2 {
    background-image: url(https://i.imgur.com/N9c8DaB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post__img-3 {
    background-image: url(https://i.imgur.com/jmrZrhu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post__img-4 {
    background-image: url(../../../data-asm4/Meet\ our\ team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post__img-5 {
    background-image: url(../../../data-asm4/Education\ consulting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post-background {
    background-color: rgb(250, 252, 250);
}


/***** footer *****/
.footer {
    margin-top: 2em;
    background-color: #000;
    padding-top: 4em;
    padding-bottom: 1em;
    flex-direction: column;
    display: flex;
}
.footer__2 {
    padding-left: 2em;
    padding-right: 2em;
}
.footer__2 p {
    text-align: center;
}
.footer-item {
    margin-bottom: 1em;
}
.footer p {
    color: #fff;
}
.footer h3 {
    color: #fff;
}
.footer li a {
    color: #fff;
    text-decoration: none;
}
.footer li {
    list-style-type: none;
}
.end {
    margin-bottom: 0.5em;
    background-color: #fff;
    width: 100%;
    height: 2px;
}
#footer__email-input {
    background-color: black;
    color: #fff;
    flex: 1;
    border: none;

}
.footer__email {
    margin-top: 0.5em;
    display: flex;
    border-bottom: #fff solid 2px;
    border-radius: 0.2em;
}