* { 
    margin: 0;
    padding: 0;
}

/***** header *****/
.header {
    height: 4em;
}
.header__container {
    height: 4em;
}
.header__menu ul li {
    list-style-type: none;
    margin-left: 1em;
}

.header__menu ul li a {
    color: #fff;
}
.header a {
    text-decoration: none;
}
.icon-bar {
    display: none;
}
.header__search {
    font-size: 1.5em;
    display: none;
}
#search-icon-mobile {
    display: none;
}
.header__search i {
    color: #000;
    font-size: 1.5em;
}
.header__page-name h1 {
    font-size: 2em;
}
.header__page-name h1 a {
    color: #fff;
}
.header__menu #check {
    display: none;
}
.header__image img {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}
#search-icon {
    font-size: 1em;
    color: #fff;
}
.li-icon {
    display: none;
}
#search-icon:hover {
    color: gold;
}

/** about us **/
.title__about {
    width: auto;
    margin: auto;
}
.title-icon {
    width: 3em;
    height: 5px;
    background-color: rgb(29, 91, 206);
    border-radius: 1em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
}
.title__about h2 {
    text-align: center;
    margin: auto;
}
.website-link a {
    color: gold;
}



/** Meet our team **/

.meet__img-box {
    width: 200px;
}
.meet__img-box img {
    width: 100%;
    height: auto;
}
.meet__img-box h3 {
    text-align: center;
}
.meet__img-box p {
    text-align: center;
}

/***** footer *****/
.footer {
    margin-top: 2em;
    background-color: #000;
    padding-top: 4em;
    padding-bottom: 1em;
    flex-direction: column;
    display: flex;
}
.footer__2 {
    padding-left: 2em;
    padding-right: 2em;
}
.footer__2 p {
    text-align: center;
}
.footer-item {
    margin-bottom: 1em;
}
.footer p {
    color: #fff;
}
.footer h3 {
    color: #fff;
}
.footer li a {
    color: #fff;
    text-decoration: none;
}
.footer li {
    list-style-type: none;
}
.end {
    margin-bottom: 0.5em;
    background-color: #fff;
    width: 100%;
    height: 2px;
}
#footer__email-input {
    background-color: black;
    color: #fff;
    flex: 1;
    border: none;

}
.footer__email {
    margin-top: 0.5em;
    display: flex;
    border-bottom: #fff solid 2px;
    border-radius: 0.2em;
}